.todo {
  font-weight: 200;
  font-size: 14px;
  width: 100%;
  padding-bottom: 10px;
  cursor: pointer;
}

.todo__inner {
  display: block;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.todo__circle {
  width: 10px;
  height: 10px;
  border: 1px solid #CCC;
  border-radius: 50%;
  margin-right: 10px;
}
